img {max-width: 100; height: auto;
}
#coolname {background-color: rgb(255, 221, 204);
color:rgb(145, 54, 8);}
body 

	{
 		background-color: rgb(145, 54, 8);
 		color: rgb(255, 221, 204);
 	}
 color: rgb(145, 54, 8);

 .container { margin: 0 auto; }
 

